h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --hero-footer-color: #2f303a;
  --main-background: #ffffff;
  --section-background: #f5f4fa;
  --button-hover: #188ce8;
  --span-header: #000000;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--main-text-color);
  line-height: 1.2;
  font-size: 14px;
  letter-spacing: 0.03em;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*header box*/
.header {
  border-bottom: 1px solid #ececec;
}
.anchor,
.mailtel {
  display: flex;
}
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-background);
}
.logo {
  width: 145px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  color: var(--accent-text-color);
  margin: 24px 93px 25px 0px;
}

.anchor-item:not(:last-child) {
  margin-right: 25px;
}
.mailtel {
  margin-left: auto;
}
.mailtel-item:not(:last-child) {
  margin-right: 50px;
}
.nav-link {
  display: flex;
  color: var(--title-text-color);
  font-weight: 500;

  letter-spacing: 0.02em;
}
.contact-link {
  display: flex;
  color: inherit;
  font-weight: 500;

  letter-spacing: 0.02em;
}
.nav-link:hover,
.contact-link:hover,
.nav-link:focus,
.contact-link:focus,
.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-text-color);
}
.active {
  color: var(--accent-text-color);
}
.logo,
.nav-link,
.contact-link,
.footer-contact {
  text-decoration: none;
}
.list {
  list-style: none;
}
.span-header {
  color: var(--span-header);
}
/*hero-box*/
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: var(--main-background);
  text-align: center;
  text-transform: uppercase;
  font-size: 44px;
  line-height: 1.3;
  font-weight: 900;
  letter-spacing: 0.06em;
  margin: 0 auto 30px auto;
  width: 696px;
}

.hero-button {
  color: var(--main-background);
  background-color: var(--accent-text-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  letter-spacing: 0.06em;
  width: 200px;
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: auto;
  display: block;
}
.hero-button:hover {
  background-color: var(--button-hover);
}

/*section-feature*/
.feat-cont {
  display: flex;
}

.group-feature:not(:last-child) {
  margin-right: 30px;
}
.group-feature {
  width: 270px;
}
.feature-title {
  font-size: inherit;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}
.feature-text {
  line-height: 1.7;
}

/*section-work*/
.title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}
.our-work {
  display: flex;
  justify-content: space-between;
}

/*section-member*/
.section-member {
  background-color: var(--section-background);
}
.members {
  display: flex;
  justify-content: space-between;
}
.cards {
  background-color: var(--main-background);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 30px;
}
.member-name {
  color: var(--title-text-color);
  font-weight: 500;
  margin-top: 30px;
}
.member-role {
  margin-top: 10px;
}
.member-name,
.member-role {
  font-size: 16px;
  text-align: center;
}

/*footer*/
.footer-container {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  margin-bottom: 20px;
}
.footer,
.hero {
  background-color: var(--hero-footer-color);
}
.footer-contact {
  font-style: normal;
  line-height: 1.7;
  color: inherit;
}
.foot-li {
  margin-bottom: 9px;
}
.addres {
  margin-top: 20px;
  margin-bottom: 60px;
}
.addr {
  font-style: normal;
  color: var(--main-background);
  line-height: 1.7;
  margin-bottom: 9px;
}
.span-footer {
  color: var(--main-background);
}

/*portfolio-page*/
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
.btn-filter {
  background-color: var(--section-background);
  color: var(--title-text-color);
  font-weight: 500;
  text-align: center;
  line-height: 1.6;
  cursor: pointer;
  border-style: none;
  padding: 6px 22px 6px 22px;
}
.btn-filter:hover,
.btn-filter:focus {
  background-color: var(--accent-text-color);
  color: var(--main-background);
}
.li-button:not(:last-child) {
  margin-right: 8px;
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--title-text-color);
  letter-spacing: 0.06em;
}
.project-type {
  font-size: 16px;
  line-height: 1.8;
}
.portfolio-card {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}
.portfolio-card > li {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}
.text-card {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
}
